*{
    margin: 0%;
    padding: 0%;
}
nav{
    border: double black 3px;
    height: 175px;
    background-color: #89A1B0;
    text-align: center;
    position: sticky;
    top: 0;
}
.logo{
    float: left;
}
nav ul{
    list-style: none;
    float: right;
}
nav ul li{
    margin: 33px;
    margin-top: 75px;
    display: inline-block;
}
nav ul li a{
    color: #E397D1;
}
nav  div h1{
    color: #E397D1;
    text-align: center;
}
body{
    background-color: #FFC55A;
}
p{
    color: #BD628B;
    font-size: xx-large;
}
.bulbapedia{
    margin: 5px;
    font-size: xx-large;
    text-align: center;
}
.overview{
    border: black double 3px;
    background-color: #89A1B0;
}
.history{
    border: double black 3px;
    background-color: #89A1B0;
}
.maw{
    float: left;
}
.mega{
    float: right;
    transform: scaleX(-1);
}
.evolution{
    text-align: center;
}